In [2]:
mass = 22.0
acceleration = 1.8
force = mass * acceleration
force

39.6

In [6]:
foo = 3.14159265
foo = True
foo = 7
foo = "Informatics is fun!"
foo

'Informatics is fun!'

# Arithemetic Examples

Here are some examples of basic math operations

In [7]:
3 + 10

13

In [9]:
count = 3 + 10
count

13

In [10]:
789 - 23

766

In [11]:
83489348943893489983489349843894398893489348934893489 - 87348743873478437834874378347837844387

83489348943893402634745476365456564019111001097049102

In [12]:
78 * 347347348

27093093144

In [13]:
 83498348934983498 / 2

4.174917446749175e+16

In [14]:
3.14159 * 123

386.41557

In [15]:
"Hello" * 5

'HelloHelloHelloHelloHello'

In [16]:
"Hello" + 4

TypeError: can only concatenate str (not "int") to str

In [17]:
"Hello" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [18]:
"Hello " + " World"

'Hello  World'

In [19]:
abs(65)

65

In [20]:
abs(-65)

65

In [21]:
789+32

821

# Comparison Examples

Here are some examples of doing comparison

In [22]:
23 < 56

True

In [23]:
123 < 23

False

In [24]:
122 <= 122

True

In [26]:
threshold = 100
sample = 22
sample = 105
sample > threshold

True

In [27]:
56 >= 67

False

In [28]:
100 == 99

False

In [29]:
100 == 100

True

In [30]:
100 = 100

SyntaxError: can't assign to literal (<ipython-input-30-412f48a76189>, line 1)

In [32]:
"The value is equal to " + str(5)

'The value is equal to 5'

In [33]:
"5"
5
5.0

5.0

In [34]:
5

5

In [35]:
"5"

'5'

# List examples

Lists are sequences of values or objects

In [37]:
shopping_list = ["milk", "bread", "cranberry juice", "apple sauce"]
shopping_list

['milk', 'bread', 'cranberry juice', 'apple sauce']

In [38]:
shopping_list[0]

'milk'

In [39]:
shopping_list[3]

'apple sauce'

In [40]:
shopping_list[-1]

'apple sauce'

# Dictionary Examples

Dictionaries map keys to values

In [41]:
color_frequency = {"red": 650, "green": 510, "blue": 475 }
color_frequency

{'red': 650, 'green': 510, 'blue': 475}

In [42]:
color_frequency["blue"]

475

In [45]:
coin_label = {5555: "Tails!", 9999: "Heads!"}

In [46]:
coin_label[9999]

'Heads!'

# Function and Method Examples

In [53]:
title = "gone WeSt"

In [54]:
title

'gone west'

In [59]:
title.lower().replace("west", "fishing!").upper()

'GONE FISHING!'