# Estimation

In [1]:
import numpy as np
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use("fivethirtyeight")

In [2]:
percentile?

In [3]:
percentile(75, make_array(2, 11, 8, 9, 1, 2, 3, 6, 6, 3))

8

In [6]:
v = make_array(2, 11, 8, 9, 1, 2, 3, 6, 6, 3)
v.sort()
v

array([ 1,  2,  2,  3,  3,  6,  6,  8,  9, 11])

In [4]:
travel_data = Table().read_table("travel.csv")
travel_data

Name                       | Travel Time
Collins, Matthew T         | 5
Cook, Kylie Nichole        | 20
Duerinck, Randy Keith      | 15
Graham, Cassandra Michelle | 20
Linden, Andrew Ryan        | 5
Lynn, Matthew Michael      | 10
Martinez, Carli Sabrina    | 20
Verrando, Fabienne Esther  | 25
Palmer, James              | 60

In [5]:
new_travel_data = travel_data.sample(100)

In [6]:
percentile(25, new_travel_data.column("Travel Time"))

10

In [7]:
percentile(50, new_travel_data.column("Travel Time"))

20

In [8]:
percentile(75, new_travel_data.column("Travel Time"))

20